* {
    color: #fff;
}

body {
    background: #000;
}
.exampleButtons {
    text-align: center;
}
.exampleSection {
    text-align: center;
    opacity: 0;
}

.setCookieButton {
    padding-bottom: 10rem;
}
.setCookieButton a {
    background: #ff0000;
    border: 2px solid #fff;

    color: #fff;

    padding: 5px;

    transition: all 1s ease-in-out;
}

.setCookieButton a:hover {
    background: #fff;
    border: 2px solid #ff0000;

    color: #ff0000;

    transition: all 1s ease-in-out;
}

.github_link {
    color: #fff;
    text-decoration: underline;
}
.github_link:hover {
    color: #ff0000;
}
